##
# PIP
##

setuptools

## AWS
awscli
awscli-plugin-endpoint
awslogs
s3transfer
s3cmd s4cmd

## PIP mkdocs
## pip3 install
mkdocs
mkdocs-material
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin

## Versioning for mkdocs using mike (a play on the word make)
## `mike` is documented https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/
mike

##
yq
PyYAML
toml
jwcrypto
certifi
cryptography
## https://dev.to/emma_donery/python-dotenv-keep-your-secrets-safe-4ocn#:~:text=Python-dotenv%20is%20a%20Python,for%20the%20current%20user%20environment.
python-dotenv

##
requests
jmespath
wheel

## podman
podman-compose

## K8S
kubernetes
kubernetes-validate
openshift
#opensearchsql

