## attribute `version` is obsolete, it will be ignored, please remove it to avoid potential confusion
#version: '3.8'
## ------------------------------------------------------------------------------------------------------------------------------------------------
## MARK: PIHOLE Repo
## https://github.com/pi-hole/pi-hole
## https://github.com/pi-hole/docker-pi-hole/tree/master/src
## ------------------------------------------------------------------------------------------------------------------------------------------------
## Main Image Name and Dockerfile
## ------------------------------------------------------------------------------------------------------------------------------------------------
x-dockerfile: &dockerfile
  ${DOCKERFILE-Dockerfile}
  #Dockerfile.pihole
  #Dockerfile.pihole-custom
  #deploy/docker/Dockerfile.ubi
  #Dockerfile-awscli.ubi
  #deploy/docker/Dockerfile
x-image: &image
  pihole:latest
x-imageICR: &imageICR
  icr.io/automation-saas-platform/mcsp-sre/pihole:${TAG:-latest}
x-appArgs: &appArgs
  #DIST: debian:bullseye-slim
  DIST: ${DIST-alpine:edge}
  #DIST: ${DIST-alpine:3.17.9}  ## this only works on armv7l
  APP_NAME: pihole
  ENTRYPOINT: ${ENTRYPOINT-start.sh}
  SOPS_VERSION: 3.10.1
  RUNIT_TIMER_CONFD: 300
## DNS resolve works only with network_mode=host
x-dns: &dns
  dns:
    #- 127.0.0.11
    - 192.168.1.1
    - 1.1.1.1
    - 8.8.8.8
    - 4.4.4.4
  dns_search:
    - ${COMPOSE_PROJECT_NAME}.local
    - dns.podman
    - example.com
    - internal.local
  dns_opt:
    - timeout:2
    - attempts:3
x-dnsPihole: &dnsPihole
  - 172.100.0.11
x-security-opts: &security-opts
  privileged: true
  cap_add:
    - SYS_ADMIN
    - SYS_NICE
    - SYS_TIME
    - NET_ADMIN
    - NET_BIND_SERVICE
    - NET_RAW
    - NET_ADMIN
    - CHOWN
  #security_opt:
  #  - seccomp:unconfined
  #  - label:disable
  ## https://github.com/just-containers/s6-overlay/issues/397#issuecomment-1030856278
  tmpfs:
    - /run:exec,mode=1777,size=65536k
    - /run/lock
x-healthcheckProxy: &healthcheckProxy
  #test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8118/health || exit 1"]
  #test: ["CMD", "dig", "-p", "$(pihole-FTL --config dns.port)", "+short", "+norecurse", "+retry=0", "@127.0.0.1", "pi.hole", "|| exit 1" ]
  test: ["CMD", "/bin/echo", "ok || exit 1"]
  interval: 30s
  timeout: 10s
  retries: 3
  start_period: 40s
## ----------------------------------------------------------------------------------------------------------------------------------------------
## MARK: DEPLOY
## ----------------------------------------------------------------------------------------------------------------------------------------------
x-deploy: &deploy
  replicas: 1
  update_config:
    parallelism: 2
    delay: 10s
    order: start-first
  restart_policy:
    delay: 5s
    condition: always
    ## invalid restart policy: maximum retry count can only be used with 'on-failure'
    #condition: on-failure
    #max_attempts: 999
  resources:
    limits:
      cpus: '0.5'
      memory: 512M
    reservations:
      cpus: '0.1'
      memory: 128M
## ----------------------------------------------------------------------------------------------------------------------------------------------
## MARK: BUILD
## ----------------------------------------------------------------------------------------------------------------------------------------------
x-build: &Build
  context:    ./
  dockerfile: *dockerfile
  ## failed to solve: granting entitlement security.insecure is not allowed by build daemon configuration
  #privileged: true
  #cap_add: [ NET_RAW ]
  #cap_add: [ SYS_ADMIN, SYS_TIME ]
  ## failed to solve: granting entitlement network.host is not allowed by build daemon configuration
  #network: host
  args:
    *appArgs
  #platforms:     [ "linux/amd64","linux/arm64" ] #,linux/arm/v7
  #platforms:    [ "linux/arm64","linux/arm/v7" ]

## ----------------------------------------------------------------------------------------------------------------------------------------------
## MARK: NETWORKS
## https://sergeytihon.com/2025/06/28/pi-hole-dns-on-ugos-pro-1-6-0-2917/
## ----------------------------------------------------------------------------------------------------------------------------------------------
networks:
  proxy_net:
    external: true
  dns:
    ## For overlay networks in swarm mode:
    #driver: overlay
    #attachable: true
    # driver_opts:  # Optional
    #   encrypted: "true"  # Encrypt network traffic
    #   com.docker.network.driver.mtu: "1450"
    #labels:
    #  - "network.scope=swarm"
    #  - "network.purpose=proxy"
    #driver: bridge
    #ipam:
    #  config:
    #    - subnet: 172.50.0.0/24
    #    #- subnet: 10.10.0.0/16
    #    #  ip_range: 10.10.10.0/24
    #    #  gateway: 10.10.10.1
    ## Workaround 3: Use macvlan network to assign static IP to Pi-hole
    driver: macvlan
    driver_opts:
      parent: eth0 # Or your physical network interface
    ipam:
      config:
        - subnet: 192.168.1.0/24 # Replace with your desired subnet
          gateway: 192.168.1.1 # Replace with your gateway

## ----------------------------------------------------------------------------------------------------------------------------------------------
## MARK: VOLUMES
## sudo docker volume create proxy_data --opt type=none --opt o=bind --opt device=/volume1/@docker/volumes/proxy_data
## ----------------------------------------------------------------------------------------------------------------------------------------------
volumes:
  proxy_data:
    external: true
    name: proxy_data
x-appVolumes: &appVolumes
  #- .:./
  ## For persisting Pi-hole's databases and common configuration file
  #- ${MNT./}etc-pihole:/etc/pihole
  - type: volume
    target: /etc/pihole
    source: proxy_data
    volume:
      subpath: pihole_config/
  ## For custom DNS resolver configuration
  #- ${MNT:-./}resolv.conf:/etc/resolv.conf:ro
  #- type: volume
  #  target: /etc/resolv.conf
  #  source: proxy_data
  #  volume:
  #    subpath: pihole_config/resolv.conf

## ---------------------------------------------------------------------------------------------------------------------
## MARK: ENV_FROM ( Optional )
##   https://docs.pi-hole.net/docker/configuration/#environment-variables
##   sudo vim /volume1/@docker/volumes/portainer/_data/data/compose/pihole/.env
## ---------------------------------------------------------------------------------------------------------------------
x-envFiles: &EnvFiles
  #- /volume1/DATA_1/git-repos/_dotfiles/deploy/pihole/.env
  - /data/compose/pihole/.env
  - stack.env

## ----------------------------------------------------------------------------------------------------------------------------------------------
## MARK: SERVICES  ##
##  https://github.com/pi-hole/pi-hole
##  https://github.com/pi-hole/docker-pi-hole/tree/master/src
##  https://github.com/pi-hole/docker-pi-hole?tab=readme-ov-file#quick-start
## ----------------------------------------------------------------------------------------------------------------------------------------------
services:
  ## --------------------------------------------------------------------------------------------------------------------------------------------
  ## MARK: PIHOLE SERVICE  ##
  ##  https://github.com/pi-hole/docker-pi-hole?tab=readme-ov-file#quick-start
  ## --------------------------------------------------------------------------------------------------------------------------------------------
  pihole:
    ## Host mode uses host network directly, ports ignored
    #network_mode:   host
    ## Swamp mode overlay network when 2 replicas
    networks:
      proxy_net:
        ### Assign the static IP
        ipv4_address: 172.100.0.11
      dns:
        ### Assign the static IP
        ipv4_address: 192.168.1.53
    hostname:     ${APP_NAME:-pihole}
    image:        *image
    ## Keep platform disabled to avoid build issues
    #platform:       linux/arm/v7
    #platform:       linux/arm64
    #platform:       linux/amd64
    ports:
      - 53:53/tcp
      - 53:53/udp
      #- 67:67/udp
      #- 123:123/udp
      #- 8080:80
      - 8444:443
    build:
      context:    ${MNT-./}
      dockerfile: *dockerfile
      args:
        <<: *appArgs
        DNSMASQ_LISTENING: "all"
        TZ: "America/New_York"
        #WEBPASSWORD: "changeme_tbd"
        FTLCONF_dns_listeningMode: ${FTLCONF_dns_listeningMode-all}
        FTLCONF_misc_etc_dnsmasq_d: ${FTLCONF_misc_etc_dnsmasq_d-true}
        FTLCONF_LOCAL_IPV4: ${FTLCONF_LOCAL_IPV4-"192.168.1.166"}
        FTLCONF_dns_reply_host_IPv4: ${FTLCONF_dns_reply_host_IPv4-"192.168.1.166"}
        #FTLCONF_LOCAL_IPV4: ${FTLCONF_LOCAL_IPV4-"172.100.0.11"}
        ## Optional: Add static local DNS entries
        #FTLCONF_dns_hosts: |
        #  172.100.0.2 haproxy.local
        #  172.100.0.20 proxy-1.local
        #  172.100.0.21 proxy-2.local
        #ENTRYPOINT:           ${ENTRYPOINT-start.sh}
        S6_OVERLAY_VERSION: "${S6_OVERLAY_VERSION-v3.1.1.2}"
      #platforms:
        #- linux/arm/v7
        #- linux/arm64
        #- linux/amd64
    restart: always
    #restart: unless-stopped
    ## DNS resolve works only with network_mode=host
    <<: *dns
    deploy:
      <<: *deploy
    # To avoid issue with named volume and mounting time
    #<<: *security-opts
    privileged: true
    cap_add: [ SYS_ADMIN, SYS_NICE, SYS_TIME, NET_ADMIN, NET_BIND_SERVICE, NET_RAW, CHOWN ]
    env_file: stack.env
    ## https://docs.pi-hole.net/docker/configuration/#environment-variables
    environment:
      - HOME=/root
    #entrypoint: sh -c '/app/entrypoint.sh'
    #entrypoint: runsvdir /etc/service
    #entrypoint: ${ENTRYPOINT-start.sh}
    entrypoint: ${ENTRYPOINT-/s6-init}
    volumes: *appVolumes
