## attribute `version` is obsolete, it will be ignored, please remove it to avoid potential confusion
#version: '3.8'
## ------------------------------------------------------------------------------------------------------------------------------------------------
## MARK: TAILSCALE Repo
##  https://tailscale.com/blog/how-tailscale-works
##  https://github.com/tailscale/tailscale?tab=readme-ov-file#tailscale
## ------------------------------------------------------------------------------------------------------------------------------------------------
## Main Image Name and Dockerfile
## ------------------------------------------------------------------------------------------------------------------------------------------------
x-dockerfile: &dockerfile
  ${DOCKERFILE-Dockerfile}
x-image: &image
  tailscale:latest
x-appArgs: &appArgs
  #DIST: debian:bullseye-slim
  DIST: ${DIST-alpine:edge}
  #DIST: ${DIST-alpine:3.17.9}  ## this only works on armv7l
  APP_NAME: pihole
  #ENTRYPOINT: ${ENTRYPOINT-start.sh}
  SOPS_VERSION: 3.10.1
  RUNIT_TIMER_CONFD: 300
  #security_opt:
  #  - seccomp:unconfined
  #  - label:disable
  ## https://github.com/just-containers/s6-overlay/issues/397#issuecomment-1030856278
  tmpfs:
    - /run:exec,mode=1777,size=65536k
    - /run/lock
x-healthcheckProxy: &healthcheckProxy
  #test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8118/health || exit 1"]
  #test: ["CMD", "dig", "-p", "$(pihole-FTL --config dns.port)", "+short", "+norecurse", "+retry=0", "@127.0.0.1", "pi.hole", "|| exit 1" ]
  test: ["CMD", "/bin/echo", "ok || exit 1"]
  interval: 30s
  timeout: 10s
  retries: 3
  start_period: 40s
## ----------------------------------------------------------------------------------------------------------------------------------------------
## MARK: DEPLOY
## ----------------------------------------------------------------------------------------------------------------------------------------------
x-deploy: &deploy
  replicas: 1
  update_config:
    parallelism: 2
    delay: 10s
    order: start-first
  restart_policy:
    delay: 5s
    condition: always
    ## invalid restart policy: maximum retry count can only be used with 'on-failure'
    #condition: on-failure
    #max_attempts: 999
  resources:
    limits:
      cpus: '0.5'
      memory: 512M
    reservations:
      cpus: '0.25'
      memory: 256M
## ----------------------------------------------------------------------------------------------------------------------------------------------
## MARK: BUILD
## ----------------------------------------------------------------------------------------------------------------------------------------------
x-build: &Build
  context:    ./
  dockerfile: *dockerfile
  ## failed to solve: granting entitlement security.insecure is not allowed by build daemon configuration
  #privileged: true
  #cap_add: [ NET_RAW ]
  #cap_add: [ SYS_ADMIN, SYS_TIME ]
  ## failed to solve: granting entitlement network.host is not allowed by build daemon configuration
  #network: host
  args:
    *appArgs
  #platforms:     [ "linux/amd64","linux/arm64" ] #,linux/arm/v7
  #platforms:    [ "linux/arm64","linux/arm/v7" ]

## ---------------------------------------------------------------------------------------------------------------------
## MARK: ENV_FROM ( Optional )
##   sudo vim /volume1/@docker/volumes/portainer/_data/data/compose/tailscale/.env
## ---------------------------------------------------------------------------------------------------------------------
x-envFiles: &EnvFiles
  #- /volume1/DATA_1/git-repos/_dotfiles/deploy/tailscale/.env
  - /data/compose/tailscale/.env
  - stack.env


## ---------------------------------------------------------------------------------------------------------------------
## MARK: VOLUMES
##  sudo docker volume create tailscale --opt type=none --opt o=bind --opt device=/volume1/@docker/volumes/tailscale
##  sudo mkdir -p /volume1/@docker/volumes/portainer/_data/data/compose/tailscale
##  sudo vim /volume1/@docker/volumes/portainer/_data/data/compose/tailscale/.env
## ---------------------------------------------------------------------------------------------------------------------
volumes:
  tailscale:
    external: true
    name: tailscale
x-appVolumes: &appVolumes
  #- .:./
  ## For persisting Pi-hole's databases and common configuration file
  #- ${MNT./}etc-pihole:/etc/pihole
  #- ./tailscale_data/lib:/var/lib
  - type: volume
    target: /var/lib
    source: tailscale
    volume:
      subpath: tailscale_data/lib/
  - type: volume
    target: /dev/net/tun
    source: tailscale
    volume:
      subpath: tailscale_data/tun
  ## For custom DNS resolver configuration
  #- ${MNT:-./}resolv.conf:/etc/resolv.conf:ro
  #- type: volume
  #  target: /etc/resolv.conf
  #  source: proxy_data
  #  volume:
  #    subpath: pihole_config/resolv.conf


## ---------------------------------------------------------------------------------------------------------------------
## MARK: SERVICES
##  https://www.youtube.com/watch?v=cfM3OwEXZao
##  https://www.thestorageguy.net/easiest-way-to-install-tailscale-vpn-on-ugreen-nas/
##  https://www.reddit.com/r/UgreenNASync/comments/1p7ymam/install_tailscale_on_your_ugreen_nas_within_5/
## ---------------------------------------------------------------------------------------------------------------------
services:
  tailscale:
    container_name: tailscale
    image: tailscale/tailscale:latest
    network_mode: host
    restart: always
    deploy:
      <<: *deploy
    #privileged: true
    cap_add: [ NET_ADMIN, SYS_MODULE ]
    volumes: *appVolumes
    env_file: *EnvFiles
    environment:
      #- TS_AUTH_KEY= ## set in .env file
      - TS_HOSTNAME=UGNAS
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_ROUTES=192.168.1.0/24
      #- TS_ROUTES=192.168.1.0/24,192.168.100.0/24
      #- TS_EXTRA_ARGS=--hostname=UGNAS --advertise-exit-node --accept-routes
      - TS_EXTRA_ARGS=--advertise-exit-node --accept-routes
